.container{
    width:70%;
    margin:2% 15% 2% 15%;
    display: flex;
    align-items: center
}

.img-circle{
    border-radius: 50%;
    width:100px; 
    height:100px;
    vertical-align: middle;
    margin-right:10px;
    
}
mat-card{
    width:70%;
    margin:auto 15% 2% 15%;
}
button{
    size:10px 10px;
    margin:2px 3px auto 3px;
    padding: 0;
border: none;
background: none;
}
mat-card-footer{
    margin: auto 10px auto auto;
    display:flex;
    justify-content: space-between;
}
mat-card-content{
    margin:2px 10px 2px 5px;}
a:link,a:visited{ 
    text-decoration: none;
    color:black; 
}
a:hover {
     text-decoration: underline;
    color:blue; }

    mat-card-title{
   
       display:flex;
       justify-content: space-between;
        font-size:14px;
    }
    mat-icon{
        vertical-align:middle;
        margin:auto 2px 2px 2px;
        }
        