mat-toolbar{
height:30px;
}
.example-container {
    height:680px;
    
    // top: 0;
    // bottom: 0;
    // left: 0;
    // right: 0;
    background: #eee;
  }
  .example-sidenav{
      width:150px;
  }
  .example-sidenav-content{
      
      text-align: center;
  }
  mat-icon{
    vertical-align:middle;
    margin-right:4px;
    
    }
 