<mat-toolbar color="primary" class="example-toolbar">

	<button mat-button (click)="expandMenu()" *ngIf="isAuthenticated"><mat-icon>menu</mat-icon></button>
	<h1 class="example-app-name"  routerLink="home">tweet</h1>
  <app-search *ngIf="isAuthenticated"></app-search>
  <button mat-button  *ngIf="!isAuthenticated" routerLink="/login">Login</button>
  <button mat-button  *ngIf="!isAuthenticated" routerLink="/register">Signup</button>
</mat-toolbar>
<mat-sidenav-container class="example-container" autosize >
	<mat-sidenav class="example-sidenav" mode="side" opened *ngIf="isAuthenticated && isExpanded" >
		<mat-nav-list >
			<mat-list-item  class="profile"  >
				<mat-icon>account_circle</mat-icon>
        <span class="full-width" [routerLink]="['/userOne', email]">Profile</span>
				
			</mat-list-item>
      <mat-list-item  class="allUsers" routerLink="/allUsers">
		<mat-icon>people</mat-icon>
				<span class="full-width" >Users</span>
				
			</mat-list-item>
			<a mat-list-item class="reset" routerLink="/reset">
				<mat-icon>password</mat-icon>
				<span class="full-width" >Reset Password</span>
				</a>
				
			
      <mat-list-item  class="logout" (click)="onLogout()">
		<mat-icon>logout</mat-icon>
				<span class="full-width" >Logout</span>
				
			</mat-list-item>
			
		</mat-nav-list>
  
	</mat-sidenav>
  
	<!-- <div class="example-sidenav-content">
	
 <app-search></app-search> 
      </div> 
	 -->
	<mat-sidenav-content>
<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

  