
mat-form-field{
    width:100%;
    height:100%
}
mat-card{
    width:70%;
    margin: 20px 15% 20px 15%;
}
mat-card-footer{
    display:flex;
    justify-content:flex-end;
    margin:auto 2px 2px auto
}
.error {
   
    display:block;
      color: red;
      
    }