.main-container{
    text-align: center;
    align-content: center;
    overflow:hidden !important;
    display:flex;
    justify-content: space-between;
    background-image:url(../../../../assets/background1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
    
    // background-origin: content-box;
    
   
 }


 mat-card{
     box-shadow: lightgray;
     border:1px;
     
     
     
 }
 
  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }
 
  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }
 
  .error {
  
    width: 300px;
    color: red;
   
  }
 
  .button {
    display: flex;
    justify-content: flex-end;
  }