mat-form-field {
  float: right;
  padding: 6px;
  margin-left:800px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
  background:white;
  color:grey;
}
  
  :-ms-input-placeholder{
    text-align: center;
  }
  mat-icon{
    size:10px 10px
  }
  